In [1]:
SELECT 
  A.[Rig],
  FORMAT(MIN(A.[Processed_Date]), 'yyyy-MM-01') AS StartDate, 
  CONCAT(A.[Rig], FORMAT(MIN(A.[Processed_Date]), 'yyyyMM')) AS RigDateID,
  SUM(A.[Total_Cards]) AS TotalCards_4m,
  SUM(A.[Unsafe_Action_Count]) As Unsafe_Action_4m,
  SUM(A.[Unsafe_Condition_Count]) As Unsafe_Condition_4m,
  SUM(A.[Unsafe_Condition_Corrected_Count]) As Unsafe_Condition_Cor_4m,
  SUM(A.[Positive_Observation_Count]) As Unsafe_Condition_4m,
  SUM(A.[Negative_Observation_Count]) As Unsafe_Condition_4m,
  SUM(A.[Active_Action_Taken_Count]) As Unsafe_Condition_4m,
  SUM(A.[Low_Risk_Count]) As Unsafe_Condition_4m,
  SUM(A.[Medium_Risk_Count]) As Unsafe_Condition_4m,
  SUM(A.[High_Risk_Count]) As Unsafe_Condition_4m
FROM 
  [dbo].[AlphaBetaList_New] A
WHERE 
  A.[Company] LIKE '%Noble%'
  AND A.[Processed_Date] >= '2021-07-01' 
  AND A.[Processed_Date] <= '2024-04-01'
GROUP BY
    A.[Rig] ,
    FORMAT(A.[Processed_Date], 'yyyyMM')
ORDER BY 
  FORMAT(MIN(A.[Processed_Date]), 'yyyy-MM-01') ASC;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'dbo.AlphaBetaList_New'.